<table>
  <%= form_for @deal do |f| %>
    <tr>
      <td colspan="2"><p><%= f.label :headline  %><br>
      <%= f.text_field :headline %></p>
      
      <p><%= f.label :description %> <br>
      <%= f.text_area :description %></p>
      
      <p><%= f.label :instructions %> <br>
      <%= f.text_area :instructions %></p></td>
    </tr>

    <tr>
      <td><%= label_tag :'deal[origins]', 'Origin airports: (ex. "DCA, BWI, IAD")' %> <br>
      <%= text_field_tag :'deal[origins]' %></td>
      <td><%= label_tag :'deal[destinations]', 'Destination airports: (ex. "DCA, BWI, IAD")' %> <br>
      <%= text_field_tag :'deal[destinations]' %></td>
    </tr>

    <tr>
      <td><p><%= f.label :start_date, id: 'deal-start-date' %>
      <%= deal_date_select :start_date %></p></td>
      <td><p><%= f.label :end_date, id: 'deal-end-date' %>
      <%= deal_date_select :end_date %></p></td>
    </tr>
    
    <tr><td colspan="2">
      <%= f.submit %>
    </td></tr>
  <% end %>
</table>  
