<p>Deal Detail:</p>

<div class="deal-info">
  <h3><%= @deal.headline %></h3>
  <p><%= @deal.description %></p>

  <h3>How To Get It:</h3>
  <p><%= @deal.instructions %></p>
</div>

<div class="deal-stats">
  <p>
    <b>Fly From:</b><br>
    <%= airport_codes(@deal.origins) %>
  </p>
  <p>
    <b>Fly To:</b><br>
    <%= airport_codes(@deal.destinations) %>
  </p>
  <p>
    <b>Fly Dates:</b><br>
    <%= brief_time(@deal.start_date) %> - <%= brief_time(@deal.end_date) %>
  </p>
</div>